<!-- <div class="row">
  <div class="col-lg-12 col-12">
    <img src="assets/images/collection-banner-2.png" alt="collection-banner">
  </div>
  <div class="container">
    <div class="title">
      <h1>
        Collection '22
      </h1>
      <h2>
        Collection '22
      </h2>
      <h3>
        Collection '22
      </h3>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="text-left mt-5"></div>
  </div>
</div> -->

<div class="hero-image">
  <div class="hero-text">
    <h1>
      Collection '22
    </h1>
    <h2>
      Collection '22
    </h2>
    <h3>
      Collection '22
    </h3>
  </div>
</div>