<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12 text-center mb-4">
            <p>Collection</p>
            <h1>Our collection tailored to remind you that wherever you are, we should always celebrate Eid with joy and
                happiness. Inspired by the continents of the world,<br> and the many natural elements of the universe,
                WaarnaRaya 2021 will help you craft the perfect look that you’re going for this Eid. The collection is
                available<br> both in shawls and squares; giving you the freedom to choose your style and will include
                our signature watercolor droplet charm and elegant eyelash<br> finishing.</h1>
        </div>

        <!-- catogories for product -->
        <div class="col-lg-3 col-12">
            <div class="column">
                <a routerLink="/product1">
                    <img src="assets/images/products-1.png">
                </a>
                <div class="firsttext" style="position:relative;top:-150px; left:80px;">MEN'S</div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="column">
                <a routerLink="/product2">
                    <img src="assets/images/products-2.png">
                </a>
                <div class="secondtext" style="position:relative;top:-150px; left:50px;">WOMEN'S</div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="column">
                <a routerLink="/product3">
                    <img src="assets/images/product-3.png">
                </a>
                <div class="thirdtext" style="position:relative;top:-150px; left:50px;">JEWELERY</div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="column">
                <a routerLink="/product4">
                    <img src="assets/images/products-2.png">
                </a>
                <div class="forthtext" style="position:relative;top:-150px; left:20px;">ELECTRONIC</div>
            </div>
        </div>
        <!-- categories end -->
    </div>
</div>