<app-header></app-header>
<div class="container">
    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <div class="row">
                <p class="item mb-4">THANK YOU FOR PURCHASING <br>WITH US!!</p>
                <p class="titlep mb-0">You will get a confimation email</p>
                <p class="pricep">Be ready for your parcel!</p>
                <button class="btn mt-1" id="buttonp" a routerLink="/collections">BACK TO COLLECTION</button>
            </div>
        </form>
    </div>
</div>