<div class="container">
    <div class="row">
        <div class="col-lg-3 col-12">
            <h2>
                INFORMATION
            </h2>
            <div class="mt-3">
                <a routerLink="/about">About Us</a><br>
                <a routerLink="/order">How to Order</a><br>
                <a routerLink="/collections">Contact Us</a>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <h1>
                FOLLOW US
            </h1>
            <div class="mt-3">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-tiktok"></i>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <h1>
                LET'S STAY UPDATED
            </h1>
            <div class="mt-3">
                <p>Subscribe to get latest offers, free giveaways, and once-in-a-life-time-deals.</p>
            </div>
            <div class="row">
                <div class="col-4 col-6">
                    <input type="text" id="subscribe" class="form-control" placeholder="Email Address">
                </div>
                <div class="col-2 col-6">
                    <button class="btn" type="submit">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="copyright col-12 text-center mt-5">
            <small>Copyright © 2022 Leaf.co.All Rights Reserved.</small>
        </div>
    </div>
</div>