:host {
    background-color: #FFFCF7;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    }

.hero-image {
    background-image: url("src/assets/images/landing-hero3.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
  }

.hero-text button {
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid #333333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 244px;
    height: 51px;  
  }
  
.hero-text button:hover {
    background-color: #333333;
    color: white;
  }

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 4.8px;
    color: #333333;
}

p {
    font-family: 'Lato', sans-serif; 
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #333333;
}