<!-- Bag Popup -->
<div class="container">
    <div class="form-popup-b" id="myForm-b">
        <form action="/action_page.php" class="form-container-b">
            <div class="row">
                <p class="mybag">My Bag</p>
            </div>
            <hr class="mt-4 mb-4">
            <div class="row">
                <div class="col-4 pl-0">
                    <img src="assets/images/beleafer-4.jpg" class="img-form-b pl-0">
                </div>
                <div class="col-8 pl-5">
                    <p class="item-b mb-4">Title</p>
                    <p class="quantity-b mb-0">QTY: </p>
                    <p class="price-b">RM</p>
                </div>
                <hr class="mt-4 mb-4">
                <div class="row">
                    <div class="col-6">
                        <p class="sub">SUBTOTAL</p>
                    </div>
                    <div class="col-6">
                        <p class="sub-p" align="right">RM</p>
                    </div>
                </div>
                <div class="row">
                    <p class="shipping">Shipping, taxes, and discounts codes calculated at checkout.</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn" id="checkoutb" a routerLink="/checkout">CHECK OUT NOW</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of bag popup -->

<!-- <p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Toggle
    </button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            You can collapse this card by clicking Toggle
        </div>
    </div>
</div> -->