<!-- <div class="container">
    <div class="row">
        <h3 align="center">How To Order</h3>
        <div class="break_space"></div>
        <div class="break_space"></div>
    </div>
</div>
<div class="container">
    <h2>Follow the steps below to complete your order:</h2>
    <div class="timeline">
        <div class="outer">
            <div class="order">
                <h1 class="title">STEP 1: ADD YOUR DESIRED ITEM TO THE CART</h1>
                <p>Choose your desired item, insert the quantity of the item and click on the "Add to Bag" button.<br>
                </p>
                <h1 class="title">STEP 2: CHECKOUT CART</h1>
                <p>Click on "Continue Shopping" to add more items. To go to checkout page, click on the bag icon on top
                    right of the screen or click on "Checkout" button in the pop-up when adding an item to the bag.<br>
                </p>
                <h1 class="title">STEP 3: ENTER CONTACT AND SHIPPING INFORMATION</h1>
                <p>In the checkout page, fill in your contact information and shipping address. Before proceeding to
                    payment, kindly verify all your information and items in the bag are correct. Fill in gift code if
                    you have
                    any to get more discount. CLick on "Purchase Now" to proceed to payment.<br>
                </p>
                <h1 class="title">STEP 4: PAYMENT</h1>
                <p>Confirm your billing and shipping address once again and then please choose your payment method and
                    leave your comments if you have any. Finally, check the box below and click on the "Confirm Order"
                    button.<br>
                </p>
                <h1 class="title">STEP 5: SUCCESSFULLY ORDERED</h1>
                <p>You have now successfully purchase your item. Once we have received your payment, we will arange to
                    deliver your item as soon as possible. A confirmation email will be sent after your transaction has
                    been
                    completed.<br></p>
                <h1 class="title">STEP 6: DELIVERY UPDATE</h1>
                <p>Once your items are dispacthed you will receive an email with the tracking number you can use to
                    track
                    your order.<br>
                </p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row mt-5">
        <h3>How To Order</h3>
        <div class="break_space"></div>
        <div class="break_space"></div>
    </div>
    <h2 class="mt-5 mb-3">Follow the steps below to complete your order:</h2>
    <ol class="activity-feed">
        <li class="feed-item">
            <h1 class="text">STEP 1: ADD YOUR DESIRED ITEM TO THE CART</h1>
            <p class="text">Choose your desired item, insert the quantity of the item and click on the "Add to Bag"
                button.<br>
            </p>
        </li>
        <li class="feed-item">
            <h1 class="text">STEP 2: CHECKOUT CART</h1>
            <p class="text">Click on "Continue Shopping" to add more items. To go to checkout page, click on the bag
                icon on top
                right of the screen or click on "Checkout" button in the pop-up when adding an item to the bag.<br></p>
        </li>
        <li class="feed-item">
            <h1 class="text">STEP 3: ENTER CONTACT AND SHIPPING INFORMATION</h1>
            <p class="text">In the checkout page, fill in your contact information and shipping address. Before
                proceeding to
                payment, kindly verify all your information and items in the bag are correct. Fill in gift code if
                you have
                any to get more discount. Click on "Purchase Now" to proceed to payment.<br></p>
        </li>
        <li class="feed-item">
            <h1 class="text">STEP 4: PAYMENT</h1>
            <p class="text">Confirm your billing and shipping address once again and then please choose your payment
                method and
                leave your comments if you have any. Finally, check the box below and click on the "Confirm Order"
                button.<br></p>
        </li>
        <li class="feed-item">
            <h1 class="text">STEP 5: SUCCESSFULLY ORDERED</h1>
            <p class="text">You have now successfully purchase your item. Once we have received your payment, we will
                arange to
                deliver your item as soon as possible. A confirmation email will be sent after your transaction has
                been
                completed.<br></p>
        </li>
        <li class="feed-item">
            <h1 class="text">STEP 6: DELIVERY UPDATE</h1>
            <p class="text">Once your items are dispacthed you will receive an email with the tracking number you can
                use to
                track
                your order.<br>
            </p>
        </li>
    </ol>
</div>