<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-5 col-12">
                <!-- <div class="card" style="width: 20rem;">
                    <img src="assets/images/about-intro.jpeg" class="card-img-top" alt="...">
                </div> -->
                <img src="assets/images/about-intro.jpeg" style="position:relative; top: -70px; left: 0px;">
            </div>
            <div class="col-lg-7 col-12 mt-5">
                <h1>Making Hijab By The People,<br> For The People.<br></h1>
                <p class="mt-4">Leaf.co was established with the dream of making the right and comfortable hijab for<br>
                    everyone. Since 2011, Leaf.co has swiftly grown around the world and has risen to become<br>
                    one of Malysia's top online hijab store. With collections that span over 30 different<br>
                    designs. Leaf.co continues to pave the way for comfortable and affordable hijabs. Together<br>
                    with out international distributors, we march on with our belief.</p>
            </div>
        </div>
    </div>
</div>