<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="column">
                <img src="assets/images/about-leaf.png" style="position:relative; bottom: -70px; left: 460px;">
                <div class="text" style="position:relative; top: -100px; left:0px;">
                    <h1>
                        Be-Leaf in yourself<br>
                        with Leaf.Co<br>
                    </h1>
                    <p class=" mt-5">
                        WE ARE MODERN WOMEN WHO CHOOSE MODEST<br>
                        WEAR AND WE DECIDE HOW WE WEAR IT.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>