<div class="container">
    <div class="row mt-5">
        <div class="col-5">
            <img src="{{item1.image}}">
        </div>
        <div class="col-7">
            <p class="title">{{item1.title}}</p>
            <p class="price">RM {{item1.price}}</p>
            <p class="priceinstallment">or
                <span> MYR {{item1.price/2.0}} </span> x 2 monthly instalments.<br>No interest or
                fees
                with hoolah.
                Learn more
            </p>
            <p class="quantity mt-5">Quantity</p>
            <div class="row mb-1">
                <div class="col-1">
                    <span class="minus" (click)="minus()">-</span>
                </div>
                <div class="col-1">
                    <input type="text" [value]="quantity">
                </div>
                <div class="col-1">
                    <span class="plus" (click)="plus()">+</span>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-danger mt-5" (click)="triggerModal(modalData)">ADD TO BAG</button>
                <!-- <button class="btn mt-3" id="button" a routerLink="/checkout">BUY IT NOW</button> -->
            </div>
            <div class="row">
                <a class="btn mt-3" id="button" [routerLink]="['/checkout/' , item1.id]">BUY IT NOW</a>
                <p class="description mt-5">{{item1.description}}</p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <h1>You May Also Like</h1>
        </div>
        <div class="row">
            <app-arrival></app-arrival>
        </div>
    </div>
</div>

<!-- ng module form pop up -->
<ng-template class="form-container" #modalData let-modal>
    <div class="modal-header">
        <button class="btn-close" type="button" (click)="modal.dismiss('Cross click')">
            <!-- <span aria-hidden="true">×</span> -->
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-4 pl-0">
                <img src="{{item1.image}}" class="img-form pl-0">
            </div>
            <div class="col-8 pl-5">
                <p class="item mb-4">ITEM ADDED TO YOUR BAG</p>
                <p class="titlep mb-0">{{item1.title}}</p>
                <p class="pricep">RM {{item1.price}}</p>
                <button class="btn" id="checkoutp" (click)="triggerModal(modalData2)"
                    (click)="modal.close('Save click')">CHECKOUT</button>
                <button class="btn mt-1" id="buttonp" (click)="modal.close('Save click')" a
                    routerLink="/collections">CONTINUE SHOPPING</button>
            </div>
        </div>
    </div>
</ng-template>
<!-- end of ng module form pop up -->


<!-- Bag Popup -->
<div class="container">
    <ng-template class="form-container" #modalData2 let-modal>
        <div class="modal-header">
            <p class="mybag">My Bag</p>
            <button class="btn-close" type="button" (click)="modal.dismiss('Cross click')">
                <!-- <span aria-hidden="true">×</span> -->
            </button>
        </div>
        <hr class="mt-4 mb-4">
        <div class="modal-body">
            <div class="row">
                <div class="col-4 pl-0">
                    <img src="{{item1.image}}" class="img-form-b pl-0">
                </div>
                <div class="col-8 pl-5">
                    <p class="item-b mb-4">{{item1.title}}</p>
                    <p class="quantity-b mb-0">QTY: {{quantity}}</p>
                    <p class="price-b">RM {{item1.price}}</p>
                </div>
            </div>
            <hr class="mt-4 mb-4">
            <!-- <div class="modal-footer"> -->
            <div class="row">
                <div class="col-4">
                    <p class="sub">SUBTOTAL</p>
                </div>
                <div class="col-6">
                    <p class="sub-p" align="right">RM {{item1.price*quantity}}</p>
                </div>
            </div>
            <div class="row">
                <p class="shipping">Shipping, taxes, and discounts codes calculated at checkout.</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- <button class="btn" id="checkoutb" a routerLink="/checkout">CHECK OUT NOW</button> -->
                    <a class="btn mt-3" id="button-b" (click)="modal.close('Save click')"
                        [routerLink]="['/checkout/' , item1.id]">CHECK OUT NOW</a>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </ng-template>
</div>
<!-- end of bag popup -->

<!-- <p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Toggle
    </button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            You can collapse this card by clicking Toggle
        </div>
    </div>
</div> -->



<!-- Form Popup -->
<!-- <button class="open-button" onclick="openForm()">Open Form</button>

<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <div class="row">
            <div class="col-4 pl-0">
                <img src="assets/images/beleafer-4.jpg" class="img-form pl-0">
            </div>
            <div class="col-8 pl-5">
                <p class="item mb-4">ITEM ADDED TO YOUR BAG</p>
                <p class="titlep mb-0">Title</p>
                <p class="pricep">RM</p>
                <button class="btn" id="checkoutp" a routerLink="/checkout">CHECKOUT</button>
                <button class="btn mt-1" id="buttonp" a routerLink="/collections">CONTINUE SHOPPING</button>
            </div>
        </div>
    </form>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</div> -->
<!-- end of form popup -->